---
import Heart from "iconoir/icons/heart.svg";
---

<footer>
  <p class="copyright">
    Made with <img class="heart" src={Heart} /> by <a href="https://twitter.com/mariusbolik/">Marius Bolik</a>
  </p>
</footer>
<style>
  footer {
    padding: 20px 0;
    /* border-top: 1px solid #edf3f5; */
    text-align: center;
    /* background-color: white; */
  }
  .copyright {
    margin: 0;
    opacity: 0.7;
    font-size: 0.9rem;
  }
  .appwrite-logo {
    height: 26px;
    margin-bottom: -9px;
  }
  .heart {
    height: 16px;
    margin-bottom: -3px;
  }
</style>
