---
// Styles
import "animate.css";
import "../../styles/main.scss";
import "../../styles/fonts.scss";

// Components
import UploadForm from "../components/UploadForm.jsx";
import WavesDivider from "../components/WavesDivider.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Picco</title>
  </head>
  <body>
    <div class="background-container center-content">
      <h1 class="main-title animate__animated animate__fadeIn">
        The #1 Photo & Video<br />Sharing Solution
      </h1>
      <img class="green-shape animate__animated animate__fadeIn animate__delay-1s" src="/img/shapes/green-shape.png" />
      <img class="red-shape animate__animated animate__fadeIn animate__delay-2s" src="/img/shapes/red-shape.png" />
      <img class="blue-shape animate__animated animate__fadeIn animate__delay-3s" src="/img/shapes/blue-shape.png" />
    </div>
    <div style="position: relative;">
      <WavesDivider color="#fff" position="bottom"/>
    </div>
    <div class="page-container center-content">
      <UploadForm client:only />
    </div>
  </body>
</html>
<style is:global></style>
<script lang="ts"></script>
