.grow-item {
  overflow: hidden;
  height: 0;
  animation: createBox 0.5s ease-in-out forwards;
}

@keyframes createBox {
  0% {
    height: 0;
  }

  100% {
    height: 70px;
  }
}

body {
  margin: 0;
  font-family: 'Clash Grotesk Display';
}


.main-title {
  color: #193765;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: -200px;
}

.page-container {
  max-width: 800px;
}

.center-content {
  text-align: center;
  margin: 0 auto;
}

.background-container {
  background-color: #FCF5DE;
  height: 380px;
  padding-top: 80px;

  .green-shape {
    position: absolute;
    width: 140px;
    top: 0;
    left: 0;
  }

  .red-shape {
    position: absolute;
    width: 390px;
    top: 0;
    right: 0;
  }

  .blue-shape {
    position: absolute;
    width: 90px;
    top: 60px;
    right: 200px;
  }
}

label[for="file"] {
  max-width: 100%;
  height: 220px;
  border-radius: 16px;
  border: 2px dashed lightgrey;
  align-items: end;
  padding-bottom: 20px;

  svg {
    display: none;
    ;
  }

  .file-types {
    margin: 6px auto 0 auto !important;
  }

  .jWkLDY {
    display: block;
    color: #193765 !important;

    >* {

      display: block;
      font-size: 0.9rem !important;
    }
  }
}

.lottie-upload-animation {
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
}

.file-list {
  .list-item {
    padding: 6px;
    text-align: left;
    border-bottom: solid #edf3f5 1px;

    &:first-child {
      padding-top: 20px;
    }

    &:last-child {
      border-bottom: unset;
    }

    .item-inner {
      display: flex;
      align-items: center;

      >* {}
    }

    .img-preview>img {
      width: 60px;
      height: 60px;
      border-radius: 6px;
      ;
    }

    .file-meta {
      flex: auto;
      padding: 0 20px;;

      .file-name {
        margin-bottom: 4px;
      }

      .file-info {
        color: grey;
        font-size: 0.875rem;
        margin-bottom: 6px;
      }
    }

    p {
      margin: 0;
    }
  }
}


.progress-bar {
  position: relative;
  height: 6px;
  border-radius: 100px;
  background-color: #edf3f5;

  .progress {
    position: absolute;
    width: 20%;
    height: 6px;
    border-radius: 100px;
    background-color: #74b1ff;
  }
}

.fab {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #edf3f5;
  width: 40px;
  height: 40px;
  cursor: pointer;
}